.env*
!.env.example

backend/dev-scripts/*.sql
sessionary.code-workspace
.cursorrules
.cursor/skills/rule/SKILL.md
.cursor/worktrees/
.claude*
.omc
.mcp.json

# python
.python-version
.pytest_cache
__pycache__/
*.py[cod]
*$py.class
.mypy_cache
