services:
  app:
    container_name: sessionary-backend-app
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    ports:
      - 8000:8000
    environment:
      APP_ENV: dev
      DATABASE_URL: postgresql+asyncpg://user:password@db:5432/sessionary
    depends_on:
      - db
    volumes:
      - .:/workspace
      - /workspace/.venv

  db:
    container_name: sessionary-db
    image: postgres:15.2-alpine
    command: -c log_statement=all
    ports:
      - 5432:5432
    environment:
      POSTGRES_SERVER: db
      POSTGRES_DB: sessionary
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_INITDB_ARGS: --encoding=UTF-8
    volumes:
      - db-volume:/var/lib/postgresql/data


  auth-redis:
    container_name: sessionary-auth-redis
    image: redis:7.2-alpine
    ports:
      - 6379:6379


volumes:
  db-volume:
