services:
  backend:
    container_name: sessionary-backend
    build:
      context: ../../backend
      dockerfile: Dockerfile
      target: dev
    ports:
      - 8000:8000
    environment:
      APP_ENV: dev
      DATABASE_URL: postgresql+asyncpg://user:password@db:5432/sessionary
      REDIS_URL: redis://auth-redis:6379
      VIDEO_PROVIDER: local
      VIDEO_BASE_URL: http://localhost:9000/videos
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    depends_on:
      - db
      - auth-redis
      - minio
    volumes:
      - ../../backend:/workspace
      - /workspace/.venv

  frontend:
    container_name: sessionary-frontend
    build:
      context: ../../frontend
      dockerfile: Dockerfile
      target: dev
    ports:
      - 3000:5173
    environment:
      PUBLIC_API_BASE_URL: http://localhost:8000
      INTERNAL_API_BASE_URL: http://backend:8000
    volumes:
      - ../../frontend:/app
      - /app/node_modules
    command: sh -c "yarn install && yarn dev --host 0.0.0.0"
    depends_on:
      - backend

  db:
    container_name: sessionary-db
    image: postgres:15.2-alpine
    command: -c log_statement=all
    ports:
      - 5432:5432
    environment:
      POSTGRES_SERVER: db
      POSTGRES_DB: sessionary
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_INITDB_ARGS: --encoding=UTF-8
    volumes:
      - db-volume:/var/lib/postgresql/data

  auth-redis:
    container_name: sessionary-auth-redis
    image: redis:7.2-alpine
    ports:
      - 6379:6379

  minio:
    container_name: sessionary-minio
    image: minio/minio
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio-volume:/data

  minio-init:
    container_name: sessionary-minio-init
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 3;
      mc alias set local http://minio:9000 minioadmin minioadmin;
      mc mb local/videos --ignore-existing;
      mc anonymous set download local/videos;
      exit 0;
      "

volumes:
  db-volume:
  minio-volume:

